/* * {
  margin: 0;
  padding: 0;
}

header {
  background-color: #eee;
  height: 30px;
  width: 100%;
}

.logo {
  background-color: #777;
}

.logo > a {
  text-decoration: none;
  color: #eee;
}

.logo > a:hover {
  color: #e1e1e1;
}
 */
